[Desktop Entry]
Version=1.0
Name=Empathy
GenericName=IM Client
X-GNOME-FullName=Empathy Internet Messaging
Comment=Chat on Google Talk, Facebook, MSN and many other chat services
Exec=empathy
Icon=empathy
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;InstantMessaging;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=empathy
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=3.2.0.1
X-Ubuntu-Gettext-Domain=empathy
