.header-bar.default-decoration {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 9px;
}

.header-bar.default-decoration .button.titlebutton {
    padding-top: 2px;
    padding-bottom: 2px;
}
